# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
logs/
!logs/.gitkeep
local_settings.py
db.sqlite3
media/
staticfiles/
private_uploads/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
deploy.sh
venv/
