Django
mysqlclient
gunicorn
celery
gevent
redis
django-celery-results
django-celery-beat
django-apscheduler
python-dotenv
boto3
cryptography
dnspython
google-auth
google-auth-oauthlib
google-api-python-client
lxml
openpyxl
pandas
premailer
pytz
razorpay
requests
user-agents
xhtml2pdf
Pillow
concurrent-log-handler
